.vfrc-chat {
  background-color: rgb(0, 0, 0);
  color:white;
}

*::-webkit-scrollbar{
  width: 0;
}

.vfrc-card--content {
  background-color: black;
  border-color: #0a84ff;
}

.vfrc-card--header{
  color: white;
}


.vfrc-assistant-info--title {
  color: white;
}

/* Buttons */
.vfrc-button {
  background-color: #000000; /* Bright color for buttons to stand out */
  color: #ffffff; 
  border-style: solid;
  border-width: 2px;
  border-color: blue;/* White text color for buttons */
}

.vfrc-button--primary{
  background-color: black;
}

/* Input field */
.vfrc-input {
  background-color: black; /* Dark background for input field */
  color: white; /* White text color for input */
}

/* Send button */
.vfrc-send-button {
  color: #0a84ff; /* Use the same bright color as buttons for consistency */
}